/* background image  */
body {
    background-color: white;
   
}

/* universal selector  */
* {
    font-family: Arial, Helvetica, sans-serif;
}
/* position property */
#logo {
    height: 100px;
    width: 100px;
    max-width: 25%;
    position: absolute;

}


/* borders and margin property */
.ulFormat{
    border: solid hotpink;
    border-width: 2px;
    list-style: none;
    color: blue;
    float: left;
    text-align: center;
    position: relative;
    width: 75%;
    font-size: x-large;
    margin-left: 10%;
    margin-bottom: 50px;
}

li {
    margin: 10px;
    list-style: none;
  text-align: center;
  /* display property */
    display: inline-block;
}

button {
    background-color: deeppink;
    color: blue;
    height: 100px;
    width: 100px;
    font-weight: bold;
    float: right;
    margin-bottom: 50px;
    margin-right: 10px;
}
/* centered header in middle of background image */

.heroImage {
    position: relative;
}
.centerText {
    color: azure;
    font-size: xx-large;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}
footer {
    background-color: blue;
    color: azure;
    font-size: x-large;
    text-align: center;
    border: solid hotpink;
    border-width: 5px;
    border-radius: 20px;
    margin: 50px;
}
