/* background image  */
body {
    background-color: white;
   
}

/* universal selector  */
* {
    font-family: Arial, Helvetica, sans-serif;
}
#logo {width: 200;
    height: 200;
    max-width: 500;
}

/* border */
nav {
    text-align: center;
    color: ghostwhite;
    font-size: xx-large;
    background-color: blue;
    border: #e53170;
    border-style: groove;
    border-radius: 10px;
    border-width: 5;
    margin: 0px 500px 100px 500px;
    padding-top: 30px;
    padding-bottom: 30px;
}
p {color: ghostwhite;}

/* ID selector */
#paranew {
    color: ghostwhite;
    text-align: left;
}

/* class selector */
.pleft {text-align: left;}

/* change of font family */
header {
    color: #e53170;
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* opacity  */
div {background-color: #e53170; 
    opacity: 0.5; 
    font-size: 100%;
    border: blue;
    border-style: dotted;
    border-radius: 10px;
}
/* Box Model - border, padding and margins */
footer {
    background-color: blue;
    color: ghostwhite;
    font-size: x-large;
    border: #e53170;
    border-style: solid;
    border-radius: 10px;
    width: 300px;
    padding: 10px;
    margin-right:  1500px;
}
/* change of button elements */
button {
    background-color: #e53170;
    color: ghostwhite;
    font-size: xx-large;
}